<h1>New entry</h1>

<%= form_for( @exchange ) do |f| %>
  <%= f.fields_for( @exchange.entries.build ) do |entry| %>
    <div class="input-row">
      <div class="input-label">
        <%= entry.label :content %>
        <div class="input-hints">allowable html tags: b, strong, i, em, img.  Links will be auto-linked.</div>
      </div>
      <div class="input-field"><%= entry.text_area :content %></div>
    </div>
  <% end %>
  <div class="input-row">
    <div class="input-label">&nbsp;</div>
    <div class="input-field"><%= f.submit %></div>
  </div>
<% end %>
