<%= link_to "new entry", new_entry_path if( can?( :create, Entry ) ) %>

<% for entry in @entries %>
  <div class="entry">
    <%= format_content( entry.content ) %>
    <div class="entry-footer">
      <%= entry.user.username %> - <%= entry.created_at.strftime( "%m.%d.%Y" ) %>
    </div>
    <div class="comments">
      <%= link_to "comment", "#", :class => ( user_signed_in? ? "comment" : "login" ) %>
      <div id="new-comment-#{entry.id}" class="not-shown">
        <%= form_for( [entry, entry.comments.build] ) do |f| %>
          <%= f.label :content, "new comment" %><br />
          <%= f.text_area :content %>
          <%= f.submit %>
        <% end %>
      </div>
      <% entry.comments.reverse.each do |comment| %>
        <div><%= comment.content %></div>
        <% if( can?( :create, comment.new_exchange ) ) %>
          <div><%= link_to "add response", new_exchange_path( :comment_id => comment.id ) %></div>
        <% end %>
        <div>
      <% end %>
    </div>
  </div>
<% end %>
